header{
	background-color: #D9D9D9;
}
header div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header div img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
header div img:hover{
	transform: scale(1.1);
	transition: all 2s;
}


table{
	border: 2px solid black;
	text-align: center;
	margin: 10px auto;
}
th{
	background-color: grey;
	border: 2px solid;
}
td{
	border: 2px solid;
	width: 150px;
}
